#logo{
	max-width: 40px;
	margin-top: -7px;
}

.navbar{
	margin-bottom: 0px !important;
}

.information{
	background-image: url("./image/contact-background.png");
	background-repeat: no-repeat;
	color: black;
	padding-top: 50px;
	padding-bottom: 220px;
}

.card {
	box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}


.footer{
	background-color: #000033;
	margin-top: 30px;
}

h3.footer-heading{
	color: white;
}

.copyright{
	background-color: #202020;
	color: white;
	text-align: center;
	padding-top: 8px;
}

.footer-data{
	color: #e0e0e0;
}

li{
	color: white;
}

.mission_vision{
	color: black;
}

.about{
	padding-left: 10px;
	color: black;
}


.background{
	background-image: url("./image/about-background.jpg");
}

.mission_vision{
	padding-left: 10px;
	color: black;
}

.wevalue{
	padding-left: 10px;
	color: black;
	font-size: 20px;
}

.inauguration{
	padding-left: 10px;
	color: black;
}

.slide-show {
	width: 576px;
}




.gallery {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px ;
  width: 100%;
}

/*
.gallery:hover {
	border: 1px solid #777;

}
*/

.gallery img {
	width: 100%;
}

.picture:hover{
	box-shadow: 0 0 2px 8px rgba(0, 140, 186,0.5);
}
